<title>Searching countries</title>
<main><ul>
{{#each countries}}
<li><img src="{{flags.png}}" width="25" height="25" alt=""><b>{{name.common}}</b>, {{capital}}</li><br> {{region}}, {{subregion}}<br>
{{S}}
{{/each}}
</ul>
</main>